<h1>Editing deal group</h1>

<%= render "form", deal_group: @deal_group %>

<br>

<div>
  <%= link_to "Show this deal group", @deal_group %> |
  <%= link_to "Back to deal groups", deal_groups_path %>
</div>
