<div class="splash-screen">
<div class="title"><h1>Budget App</h1></div>
 <div class="splash-button">
    <button id="experience-login">
      <%= link_to "Login", new_user_session_path %>
    </button>
    <button id="experience-signup">
      <%= link_to "Sign up", new_user_registration_path %>
    </button>
  </div>
</div>