<div class="details-header">
 <p >
    <%= link_to 'â†',groups_path, class: 'arrow-link' %>
</p>
<h2>Deals</h2>
</div>
<div class="total_box">
<p>
<span>Total payment:</span>
</p>
<span class='font-weight-bold'>$<%= @deals.sum {|deal| deal.amount} %></span>
</div>
<div id="deals">
  <% @deals.each do |deal| %>
    <%= render deal %>
  <% end %>
</div>

<div class="card-button"><button><%= link_to "New deal", new_group_deal_path %></button></div>
